@model Hotel_Management.ViewModels.AddNewEmployeeViewModel
@{
    ViewData["Title"] = "Add New Employee Account";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fluid py-4">
    <div class="card">
        <div class="card-header">
            <h5>Add New Employee Account</h5>
        </div>
        <div class="card-body">
            <form asp-action="AddNewEmployeeAccount" method="post">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                <p class="text-uppercase text-sm">Personal Information</p>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="form-floating">
                            <input asp-for="FullName" class="form-control" placeholder="Full Name" />
                            <label asp-for="FullName"></label>
                        </div>
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>

                    <div class="col-md-6 mb-3">
                        <div class="form-floating">
                            <input asp-for="Salary" type="number" class="form-control" placeholder="Salary" />
                            <label asp-for="Salary"></label>
                        </div>
                        <span asp-validation-for="Salary" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating">
                            <input asp-for="Phone" class="form-control" placeholder="Phone" />
                            <label asp-for="Phone"></label>
                        </div>
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating">
                            <input asp-for="Address" class="form-control" placeholder="Address" />
                            <label asp-for="Address"></label>
                        </div>
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating">
                            <input asp-for="BirthDate" type="date" class="form-control" />
                            <label asp-for="BirthDate"></label>
                        </div>
                        <span asp-validation-for="BirthDate" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating">
                            <select asp-for="Gender" class="form-control">
                                <option value="" selected disabled>Select Gender</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Other">Other</option>
                            </select>
                            <label asp-for="Gender"></label>
                        </div>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating">
                            <input asp-for="HireDate" type="date" class="form-control" />
                            <label asp-for="HireDate"></label>
                        </div>
                        <span asp-validation-for="HireDate" class="text-danger"></span>
                    </div>
                </div>

                <hr class="horizontal dark">

                <p class="text-uppercase text-sm">Account Information</p>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="form-floating">
                            <input asp-for="Username" class="form-control" placeholder="Username" />
                            <label asp-for="Username"></label>
                        </div>
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating">
                            <input asp-for="Email" class="form-control" placeholder="Email" />
                            <label asp-for="Email"></label>
                        </div>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="form-floating">
                            <input asp-for="Password" class="form-control" placeholder="Password" />
                            <label asp-for="Password"></label>
                        </div>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating">
                            <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                            <label asp-for="ConfirmPassword"></label>
                        </div>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-6 mb-3">
                        <div class="form-floating">
                            <select asp-for="Role" class="form-control">
                                <option value="" selected disabled>Select Role First...</option>
                                <option value="Employee">Employee</option>
                                <option value="Admin">Admin</option>
                            </select>
                            <label asp-for="Role"></label>
                        </div>
                        <span asp-validation-for="Role" class="text-danger"></span>
                    </div>

                    <div class="col-md-6 mb-3">
                        <div class="form-floating">
                            <select asp-for="Position" class="form-select" disabled>
                                <option value="" selected disabled>Select Role to see positions...</option>
                            </select>
                            <label asp-for="Position"></label>
                        </div>
                        <span asp-validation-for="Position" class="text-danger"></span>
                    </div>

                </div>

                <div class="d-flex justify-content-end mt-4">
                    <button type="submit" class="btn bg-gradient-primary m-0">Create Account</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/css/customer/CustomerList.css" rel="stylesheet">
    <style>
        :root {
            --custom-form-padding-left: 1rem;
        }

        .form-floating input.form-control {
            padding-left: var(--custom-form-padding-left);
        }

        .form-floating select.form-control {
            padding-left: var(--custom-form-padding-left);
        }

        .form-floating > label {
            padding-left: var(--custom-form-padding-left);
        }

        /* (Thêm CSS cho nhãn nổi - nếu cần) */
        .form-floating > .form-control:focus ~ label,
        .form-floating > .form-control:not(:placeholder-shown) ~ label,
        .form-floating > .form-select ~ label {
            transform: scale(0.85) translateY(-0.5rem) translateX(0);
        }
    </style>
}
@section Script {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/js/admin/AddNewEmployee.js" asp-append-version="true"></script>
}